/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 60px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */
.hero {
    text-align: center;
    height: 800px;
    padding: 50px;
    background-color: #f4f4f4;
    background-image: url('home.webp');
    background-size: cover;
    margin-bottom: 10px;
}

/* Products Section Styles */
#products h2 {
    font-size: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 45%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
}

.product-image {
    height: 300px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.product:hover .product-image img {
    transform: scale(1.05);
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-info h3 {
    margin-top: 0;
}

.product-info p {
    font-weight: bold;
    color: #4CAF50;
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Cart Section Styles */
.cart {
    border-top: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
}

/* Footer Styles */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

/* Products Banner Styles */
.products-banner {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.products-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: flex-start; /* Align content to the top */
    padding: 20px;
}

.banner-text {
    width: 50%; /* Adjust this value to control the width of the text area */
    padding: 20px;
  
    border-radius: 10px;
    margin-top: 20px; /* Add some top margin */

}

.banner-text p {
    color: white;
    font-size: 2em;
    text-align: left;
    margin: 0;
}
